[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/morpho-blue"]
	path = lib/morpho-blue
	url = https://github.com/morpho-org/morpho-blue
	branch = chore/remove-remapping-context
[submodule "lib/universal-rewards-distributor"]
	path = lib/universal-rewards-distributor
	url = https://github.com/morpho-org/universal-rewards-distributor
[submodule "lib/erc4626-tests"]
	path = lib/erc4626-tests
	url = https://github.com/a16z/erc4626-tests
