[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/morpho-blue"]
	path = lib/morpho-blue
	url = https://github.com/morpho-labs/blue
	branch = poc/rubilmax
