{
    "tabWidth": 2,
    "printWidth": 120,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ],
    "importOrder": [
        "^@",
        "^\\.\\.",
        "^\\."
    ],
    "importOrderSeparation": true
}
