[profile.default]
src = "src"
test = "test/forge"
libs = ["lib"]
evm_version = "paris"
via-ir = true
optimizer = true
optimizer_runs = 200
bytecode_hash = "none"

[profile.default.rpc_endpoints]
mainnet = "https://eth-mainnet.g.alchemy.com/v2/${ALCHEMY_KEY}"
tenderly = "https://rpc.tenderly.co/fork/${TENDERLY_FORK_ID}"

[profile.default.fmt]
wrap_comments = true

[profile.test]
via-ir = false


# See more config options https://github.com/foundry-rs/foundry/tree/master/crates/config
